#include ".Xresources.solarized"

*fading:			0

vncviewer*fullScreen:		1
vncviewer*userLogin:		1
vncviewer*passwordDialog:	1

floatClock*title:		floating Clock
floatClock*update:		1
floatClock*geometry:		135x135-20+20
floatClock*background:		rgb:fbf0/fbf0/fbf0
floatClock*overrideRedirect:	0

Tclock*update:			1
Tclock*geometry:		135x135-50-50
Tclock*background:		rgb:fbf0/fbf0/fbf0
Tclock*scale:			0.75
Tclock*ticksize:		1.5
Tclock*overrideRedirect:	0

Tkinfo*font:			-bitstream-bitstream vera sans-medium-r-*-*-*-*-*-*-*-*-*-*
Tkinfo*Text.font:		-bitstream-bitstream vera sans-medium-r-*-*-*-*-*-*-*-*-*-*

!urxvt resources
URxvt*cursorBlink:		1
URxvt*pointerBlank:		1
URxvt*pointerBlankDelay:	1
URxvt*urgentOnBell:		1

URxvt*loginShell:		1
URxvt*font:			xft:Terminus:size=8:autohint=true
URxvt*boldFont:			xft:Terminus:size=8:bold:autohint=true
URxvt*italicFont:		xft:Deja Vu Sans Mono:italic:size=8:autohint=true
URxvt*boldItalicFont:		xft:Deja Vu Sans Mono:bold:italic:size=8:autohint=true
URxvt*scrollBar:		0
URxvt*searchable-scrollback:    ""
URxvt.urlLauncher:              firefox
URxvt.keysym.C-Delete:          perl:matcher
URxvt.matcher.button:           1
URxvt.keysym.M-u:               perl:url-select:select_next
URxvt.underlineURLs:            true
! http://aperiodic.net/phil/archives/Geekery/term-function-keys.html
! man 7 urxvt: Key Codes
! \033 ^= ESC
URxvt.keysym.C-BackSpace:       \033[33~
URxvt.keysym.C-Tab:             \033[34~

URxvt.perl-ext:                 default,matcher,url-select

XClock*foreground:		S_base00
XClock*background:		S_base3

URxvt*colorBD:			S_base1
URxvt*colorUL:			S_base1
URxvt*colorIT:			S_base1

XLock.mode:                     nose
XLock.program:                  fortune calvin futurama hitchhiker matrix
XLock.font:                     -*-dejavu sans light-*-r-*-*-*-*-*-*-*-*-*-*
XLock.planfont:                 -*-dejavu sans light-*-r-*-*-*-*-*-*-*-*-*-*
XLock.messagefont:              -*-dejavu sans light-*-r-*-*-*-*-*-*-*-*-*-*
