vncviewer*fullScreen:		1
vncviewer*userLogin:		1
vncviewer*passwordDialog:	1

floatClock*title:		floating Clock
floatClock*update:		1
floatClock*geometry:		135x135-20+20
floatClock*background:		rgb:fbf0/fbf0/fbf0
floatClock*overrideRedirect:	0

Tclock*update:			1
Tclock*geometry:		135x135-50-50
Tclock*background:		rgb:fbf0/fbf0/fbf0
Tclock*scale:			0.75
Tclock*ticksize:		1.5
Tclock*overrideRedirect:	0

Tkinfo*font:			-bitstream-bitstream vera sans-medium-r-*-*-*-*-*-*-*-*-*-*
Tkinfo*Text.font:		-bitstream-bitstream vera sans-medium-r-*-*-*-*-*-*-*-*-*-*

XTerm*termName:			xterm-color
XTerm*toolBar:			off
XTerm*background:		black
XTerm*foreground:		lightgrey
XTerm*cursorColor:		green
XTerm*loginShell:		1
XTerm*metaSendsEscape:		1
XTerm*faceName:			Bitstream Vera Sans Mono
XTerm*faceSize:			12

!urxvt resources
URxvt*background:		#1f1f1f
URxvt*foreground:		#dcdccc
URxvt*colorBD:			#dfdfbf
URxvt*colorUL:			#ffcfaf
URxvt*colorIT:			#7f9f7f
URxvt*cursorColor:		#8faf9f
URxvt*cursorColor2:		#121212
URxvt*fadeColor:		#3f3f3f
URxvt*fading:			33
URxvt*loginShell:		1
URxvt*font:			xft:Bitstream Vera Sans Mono:pixelsize=16
URxvt*boldFont:			xft:Bitstream Vera Sans Mono:pixelsize=16:bold
URxvt*italicFont:		xft:Bitstream Vera Sans Mono:pixelsize=16:italic
URxvt*boldItalicFont:		xft:Bitstream Vera Sans Mono:pixelsize=16:bold:italic
URxvt*scrollBar:		0
URxvt.perl-ext-common:		default,matcher
#if HOSTNAME == monolith
URxvt.urlLauncher:		firefox3
#else
URxvt.urlLauncher:		firefox
#endif
URxvt.matcher.button:		1
URxvt*matcher.pattern.1:	\\b(mailto|http|https|ftp|file):[/]*[\\w-]\\.[\\w./?&@#-]*[\\w/-]
URxvt*matcher.pattern.2: 	\\bwww\\.[\\w-]\\.[\\w./?&@#-]*[\\w/-]

URxvtc*title:			urxvtc
ssh_columbus*title:		ssh columbus
