vncviewer*fullScreen:		1
vncviewer*userLogin:		1
vncviewer*passwordDialog:	1

floatClock*title:		floating Clock
floatClock*update:		1
floatClock*geometry:		135x135-20+20
floatClock*background:		rgb:fbf0/fbf0/fbf0
floatClock*overrideRedirect:	0

Tclock*update:			1
Tclock*geometry:		135x135-50-50
Tclock*background:		rgb:fbf0/fbf0/fbf0
Tclock*scale:			0.75
Tclock*ticksize:		1.5
Tclock*overrideRedirect:	0

Tkinfo*font:			-bitstream-bitstream vera sans-medium-r-*-*-*-*-*-*-*-*-*-*
Tkinfo*Text.font:		-bitstream-bitstream vera sans-medium-r-*-*-*-*-*-*-*-*-*-*

XTerm*termName:			xterm-color
XTerm*toolBar:			off
XTerm*background:		black
XTerm*foreground:		lightgrey
XTerm*cursorColor:		green
XTerm*loginShell:		1
XTerm*metaSendsEscape:		1
XTerm*faceName:			Bitstream Vera Sans Mono
XTerm*faceSize:			12

!urxvt resources
URxvt*pointerBlank:		1
URxvt*pointerBlankDelay:	1
URxvt*urgentOnBell:		1
URxvt*foreground:		#dedfbd
URxvt*background:		#393c39
URxvt*colorBD:			#dfdfbf
URxvt*colorUL:			#ffcfaf
URxvt*colorIT:			#7f9f7f
URxvt*colorRV:			#ffffff
URxvt*cursorColor:		#8faf9f
URxvt*cursorColor2:		#121212
URxvt*fadeColor:		#3f3f3f
URxvt*fading:			33
URxvt*loginShell:		1
URxvt*font:			xft:Bitstream Vera Sans Mono:pixelsize=16
URxvt*boldFont:			xft:Bitstream Vera Sans Mono:pixelsize=16:bold
URxvt*italicFont:		xft:Bitstream Vera Sans Mono:pixelsize=16:italic
URxvt*boldItalicFont:		xft:Bitstream Vera Sans Mono:pixelsize=16:bold:italic
URxvt*scrollBar:		0
URxvt.urlLauncher:              firefox
URxvt.keysym.C-Delete:          perl:matcher
URxvt.matcher.button:           1

!use screen width to distinguish between hosts.
!not super clean but it works
#if WIDTH >= 4320
URxvt.perl-ext:                 default,matcher
#else
URxvt.perl-ext:                 default,matcher,rvid-on-brightnesschanged
URxvt.brightnessThreshold:      70
URxvt.RGBColourFile:            /usr/share/X11/rgb.txt
URxvt*perl-lib:                 /home/jochen/usr/lib/urxvt/perl
#endif

URxvtc*title:			urxvtc
ssh_columbus*title:		ssh columbus
